_site
.DS_Store
*.swp
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
Gemfile.lock
.sass-cache

images/figures/
images/posts/
!images/posts/**/*.png
!images/posts/**/*.jpg
.vscode/

_drafts/
