<!--============================================================================

   Filename    :  tag_button.html
   Description :  Defining the tag buttons
   Author      :  Yi-Mu 'Enoch' Chen [ ensc@hep1.phys.ntu.edu.tw ]

==============================================================================-->

<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script>
  // Animation of experience section.
  $(document).ready(function() {
    $(".exp_header").on("click", function() {
      if ($(this).siblings(".exp_desc").hasClass("shown")) {
        $(this).siblings(".exp_desc").removeClass("shown");
      } else {
        $(this).siblings(".exp_desc").addClass("shown");
      }

      if( $(this).hasClass("shown")){
          $(this).removeClass("shown");
      } else {
        $(this).addClass("shown");
      }
    });
  });

  // Single selection for tools section
  $(document).ready(function() {
    $('input[type="checkbox"]').on('change', function() {
      $('input[type="checkbox"]').not(this).prop('checked', false);
      var item_state  = $(this).prop('checked');
      var item_change = $(this).attr('id')+'_detail';
      $('div[id$=_detail]').each( function() {
        if( $(this).attr('id') != item_change ){
          $(this).removeClass("shown");
        } else {
          if( item_state ){
            $(this).addClass("shown");
          } else{
            $(this).removeClass("shown");
          }
        }
      });
    });
  });


  // Content right navigation bar button
  $(document).ready(function(){
    $("#spec-nav-button").on("click", function() {
      var el = $(this);
      el.text() == el.data("text-swap")
        ? el.text(el.data("text-original"))
        : el.text(el.data("text-swap"));
      el.text() == el.data("text-swap")
        ? $('[id=spec-nav]').addClass("shown")
        : $('[id=spec-nav]').removeClass("shown");
    });
  })
</script>
