// Styling information for specs pages

.basic_container {
  font-size: 1.2em;
  display: inline-block;
  width: 100%;

  .basic_entry {
    width: 100%;
    display: block;

    .basic_item {
      width: 5em;
      float: left;
      color: $heading-color;
    }

    .basic_content {
      text-align: justify;
    }
  }
}

.exp_container {
  padding-bottom: 20px;
  display: inline-flex;
  width: 100%;
  // Image logo on the left,
  .exp_img {
    //Place image on left with fixed width
    width: 100px;
    float: left;
    height: 100%;
    margin: auto;

    img {
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 80px;
      max-height: 80px;
    }
  }
  // Text and description on the right.
  .exp_text {
    width: 85%;
    float: right;
    display: inline-block;

    .exp_header {
      width: 100%;
      background-color: lighten($base-color,5);
      overflow: auto;
      display: inline-block;
      $titlepadding: 10px;
      cursor: pointer;

      .exp_title {
        font-size: 1.5em;
        font-weight: bold;
        width: 95%;
        text-align: left;
        display: inline-block;
        padding-left: $titlepadding;
        padding-top: $titlepadding;
      }

      .exp_institute {
        font-size: 1.1em;
        font-weight: bold;
        float: left;
        display: inline-block;
        padding-left: $titlepadding;
        padding-bottom: $titlepadding;
      }

      .exp_year {
        float: right;
        color: darken($text-color,15);
        display: inline-block;
        padding-right: $titlepadding;
        padding-bottom: $titlepadding;
      }

      .exp_expand {
        width: 5%;
        float: right;
        padding-right: $titlepadding;
        padding-top: $titlepadding;
      }
    }

    .exp_header:hover {
      background-color: $base-color;
    }

    .exp_header.shown {
      background-color: $base-color;
    }
    // Dynamic content for content expander
    .exp_header {
      .exp_expand:before {
        font-family: monospace;
        content: '+';
      }
    }

    .exp_header.shown {
      .exp_expand:before {
        font-family: monospace;
        content: '-';
      }
    }

    .exp_desc {
      text-align: justify;
      margin-top: 0;
      padding-top: 0;
      // Hide using height = 0
      overflow-y: hidden;
      max-height: 0;
      // Transition effects
      -webkit-transition: max-height 1.5s cubic-bezier(0,1,0,1);
      -moz-transition: max-height 1.5s cubic-bezier(0,1,0,1);
      -ms-transition: max-height 1.5s cubic-bezier(0,1,0,1);
      -o-transition: max-height 1.5s cubic-bezier(0,1,0,1);
      transition: max-height 1.5s cubic-bezier(0,1,0,1);
    }

    .exp_desc.shown {
      max-height: 1000px;
      transition: max-height 1.5s ease-in-out;
    }
  }
}

.tool_master {
  width: 100%;
  display: inline-block;

  .tool_button_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    input[type="checkbox"] {
      display: none;
    }

    .tool_button {
      width: 120px;
      height: 120px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      border: 1px solid $body-color;
      margin: 5px;

      .tool_img_container {
        width: 120px;
        display: inline-block;

        img {
          max-width: 90px;
          max-height: 90px;
          padding-top: 5px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .tool_stars {
        width: 120px;
        text-align: center;
        color: $heading-color;
        position: absolute;
        bottom: 0;
      }
    }

    .tool_button:hover {
      background-color: darken($base-color,1);
    }

    :checked+label {
      background-color: darken($base-color,1);
      border: 1px solid $heading-color;
    }
  }

  .tool_detail {
    width: 80%;
    margin: 0 auto;
    display: block;
    // Hide using height = 0
    overflow-y: hidden;
    max-height: 0;
    // Transition effects
    -webkit-transition: max-height 1.5s cubic-bezier(0,1,0,1);
    -moz-transition: max-height 1.5s cubic-bezier(0,1,0,1);
    -ms-transition: max-height 1.5s cubic-bezier(0,1,0,1);
    -o-transition: max-height 1.5s cubic-bezier(0,1,0,1);
    transition: max-height 1.5s cubic-bezier(0,1,0,1);

    .tool_detail_title {
      display: inline-block;
      width: 100%;
      padding-top: 20px;

      .tool_detail_name {
        width: 50%;
        float: left;
        font-size: 1.5em;
        display: inline-block;
        color: $heading-color;
      }

      .tool_detail_level {
        display: inline-block;
        font-style: italic;
        width: 50%;
        float: right;
        text-align: right;
      }
    }
  }

  .tool_detail.shown {
    max-height: 2000px;
    transition: max-height 1.5s ease-in-out;
  }
}

#spec-nav-button {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 3000;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 6px;
  background: darken($base-color, 5);
  font-size: 1.2em;
  cursor: pointer;
}

#spec-nav-button:hover {
  box-shadow: 0 4px 8px 0 rgba(128, 128, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#spec-nav {
  position: fixed;
  display: inline-flex;
  top: 0;
  height: 100%;
  background: darken($base-color, 1);
  z-index: 1000;
  width: 300px;
  right: -300px;
  overflow-y: hidden;
  transition: right 1.5s ease-in-out;

  div {
    margin: auto;
    display: inline-block;
    text-align: right;
    line-height: 2.4em;
    font-size: 1.2em;

    .spec-nav-title {
      font-weight: bold;
      padding-right: 60px;
    }

    .spec-nav-item {
      display: inline-block;
      width:100%;
      line-height: 2em;
      padding-right: 60px;
    }
    .spec-nav-item:hover {
      background-color: darken($base-color, 5);
    }
  }

  a {
    color: $heading-color;
  }
}

#spec-nav.shown {
  right: 0;
  transition: right 0.8s ease-in-out;
}

html {
  // For smooth scrolling to anchor points.
  scroll-behavior: smooth;
}
