// Archive time in tags and posts
$tag_img_size: 100px;

.tag_container {
  width: 100%;
  padding-left: 0;
  margin-top: 5px;
  display: inline-flex;

  .main_tag_img {
    width: $tag_img_size;
    float: left;
    height: 100%;
    margin: auto;
    img {
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: 90px;
      max-height: 90px;
    }
  }

  .main_tag_text {
    width: 85%;
    float: right;
    display: inline-block;
    background: darken($base-color,1);

    .main_tag_title{
      width: 100%;
      height: $tag_img_size;
      line-height: $tag_img_size;
      text-transform: capitalize;
      color: $heading-color;
      font-size: 1.5em;
      padding-left: 0.5em;
      cursor: pointer;
      background: rgba(0,0,0,0);
    }

    .main_tag_title.shown{
      background: darken($base-color,5);
    }
    .main_tag_title:hover{
      background: darken($base-color,5);
    }

  }

}

.sub_tag {
  width:100%;
  padding-left: 1.0em;

  .sub_tag_button {
    text-transform: Capitalize;
    max-width: 100%;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-left: 1.2em;
    padding:10px;
    cursor: pointer;
    background: $base-color;
    transition: background-color 0.3s ease-in-out;
  }

  .sub_tag_button.shown{
    background: rgba(0,0,0,0);
    transition: background-color 0.3s ease-in-out;
  }

  .post_container{
    padding-bottom: 20px;
  }

}
