---
layout: page
title: ENSC Specs Sheet
comments: false
modified: 2016-06-08
---

<h2>Basic Information</h2>


<h2>Education</h2>

{% for edu in site.data.about.education %}
   <div class="exp_container">
      <div class="exp_img">
         <img src="{{edu.img}}" alt="{{edu.school}}"/>
      </div>

      <div class="exp_text">
         <span class="exp_header">
            <span class="exp_title">{{edu.degree}}</span>
            <a href="{{edu.url}}" class="exp_institute">{{edu.school}}</a>
            <span class="exp_year">{{edu.years}}</span>
         </span>
         <p class="exp_desc">
            {{edu.description}}
         </p>
      </div>
   </div>
{% endfor %}

<h2>Research Experience</h2>
{% for exp in site.data.about.research %}
  <div class="exp_container">
      <div class="exp_img">
          <img src="{{exp.img}}" alt="exp.institute"/>
      </div>
      <div class="exp_text">
        <span class="exp_header">
            <span class="exp_title">{{exp.name}}</span>
            <a href="{{exp.url}}" class="exp_institute">{{exp.institute}}</a>
            <span class="exp_year">{{exp.years}}</span>
        </span>
        <p class="exp_desc">
          <ul>
          {% for item in exp.details %}
            <li>{{item}}</li>
          {% endfor %}
          </ul>
        </p>
      </div>
  </div>
{% endfor %}
<h2>Tools/Skills</h2>

<div class="tool_master">
{% for tool in site.data.about.tools %}
   <div class="tool_container">
      <span class="tool_title">
         <a class="tool_name">{{tool.name}}</a>
         <a class="tool_year">(
         {% assign year_count = 'now' | date: "%Y" | minus: tool.since %}
         {%if year_count < 1 %}
            &lt; 1
         {% elsif year_count > 5 %}
            + 5
         {% else %}
            {{ year_count }}
         {% endif %} yrs.)
         </a>
         <a class="tool_level">
         {% assign inv_count = site.data.about.tools_max_level | minus: tool.level %}
         {% assign count = tool.level %}
         {% for i in (1..inv_count) %} &#9734; {% endfor %}
         {% for i in (1..count) %} &#9733; {% endfor %}
         </a>
      </span></br>
      <div class="tool_description">
         <p>
         {{tool.description}}
         </p>
      </div>
   </div>
{% endfor %}

</div>
