---
layout: page
title: ENSC Spec Sheet
comments: false
modified: 2017-11-24
---

<!--========================================================-->
<!--Content nav bar and navigation icon-->
<!--========================================================-->
<div class="right-nav-button" data-text-original="◀" data-text-swap="▶">
  ◀
</div>

<div class="right-nav">
  <div>
    <span class="spec-nav-title">Contents</span>
    <span class="spec-nav-item"><a href="#basic">Basic information</a></span>
    <span class="spec-nav-item"><a href="#education">Education</a></span>
    <span class="spec-nav-item"><a href="#research">Research experience</a></span>
    <span class="spec-nav-item"><a href="#miscellaneous">Miscellaneous experience</a></span>
    <span class="spec-nav-item"><a href="#tools">Tools and skillsets</a></span>
    <span class="spec-nav-item"><a href="#facts">Random Facts</a></span>
  </div>

</div>


<!--========================================================-->
<h2 id="basic">Basic Information</h2>
<!--========================================================-->

<div class="basic_container">

  <div class="basic_entry">
    <div class="basic_item">Name</div>
    <div class="basic_content">{{site.data.about.basic.name}}</div>
  </div>
  <div class="basic_entry">
    <div class="basic_item">Birthday</div>
    <div class="basic_content">{{site.data.about.basic.month}}, {{site.data.about.basic.year}}</div>
  </div>
  <div class="basic_entry">
    <div class="basic_item">Location</div>
    <div class="basic_content">{{site.data.about.basic.location}}</div>
  </div>
  <div class="basic_entry">
    <div class="basic_item">About</div>
    <div class="basic_content">{{site.data.about.basic.about}}</div>
  </div>
</div>


<!--========================================================-->
<h2 id="education">Education</h2>
<!--========================================================-->
{% for edu in site.data.about.education %}
<div class="exp_container">
  <div class="exp_img">
    {% if {{edu.img}} contains 'http' %}
    <img src="{{edu.img}}" alt="{{edu.school}}" />
    {% else %}
    <img src="{{site.url}}/images/{{edu.img}}" alt="{{edu.school}}" />
    {% endif %}
  </div>

  <div class="exp_text">
    <div class="exp_header slidetoggle_controller">
      <span class="exp_title">{{edu.degree}}</span><span class="exp_expand"></span>
      <a href="{{edu.url}}" class="exp_institute">{{edu.school}}</a>
      <span class="exp_year">{{edu.years}}</span>
    </div>
    <div class="exp_desc slidetoggle_target">
      <p>{{edu.description}}</p>
    </div>
  </div>
</div>
{% endfor %}

<!--========================================================-->
<h2 id="research">Research Experience</h2>
<!--========================================================-->
{% for exp in site.data.about.research %}
<div class="exp_container">
  <div class="exp_img">
    {% if {{exp.img}} contains 'http' %}
    <img src="{{exp.img}}" alt="{{edu.school}}" />
    {% else %}
    <img src="{{site.url}}/images/{{exp.img}}" alt="{{edu.school}}" />
    {% endif %}
  </div>
  <div class="exp_text">
    <span class="exp_header slidetoggle_controller">
      <span class="exp_title">{{exp.name}}</span><span class="exp_expand"></span>
    <a href="{{exp.url}}" class="exp_institute">{{exp.institute}}</a>
    <span class="exp_year">{{exp.years}}</span>
    </span>
    <div class="exp_desc slidetoggle_target">
      <ul>
        {% for item in exp.details %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}


<!--========================================================-->
<h2 id="miscellaneous">Miscellaneous Experience</h2>
<!--========================================================-->
{% for exp in site.data.about.miscexp %}
<div class="exp_container">
  <div class="exp_img">
    {% if {{exp.img}} contains 'http' %}
    <img src="{{exp.img}}" alt="{{edu.school}}" />
    {% else %}
    <img src="{{site.url}}/images/{{exp.img}}" alt="{{edu.school}}" />
    {% endif %}
  </div>
  <div class="exp_text">
    <span class="exp_header slidetoggle_controller">
        <span class="exp_title"><a href="{{exp.url}}">{{exp.name}}</a></span><span class="exp_expand"></span>
    <span class="exp_year">{{exp.years}}</span>
    </span>
    <div class="exp_desc slidetoggle_target">
      <ul>
        {% for item in exp.details %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}




<!--========================================================-->
<h2 id="tools">Tools and Skillsets</h2>
<!--========================================================-->
<div class="tool_master">
  <div class="tool_button_container">
    {% for tool in site.data.about.tools %}
    <input type="checkbox" id="tool_{{tool.name}}" />
    <label class="tool_button" for="tool_{{tool.name}}">
    <div class="tool_img_container">
      {% if {{tool.icon}} contains 'http' %}
      <img src="{{tool.icon}}" alt="{{tool.name}}" />
      {% else %}
      <img src="{{site.url}}/images/{{tool.icon}}" alt="{{tool.name}}" />
      {% endif %}
    </div>
    <div class="tool_stars">
      {% for i in (1..{{tool.stars}}) %} &#9733; {% endfor %}
    </div>
  </label> {% endfor %}

  </div>
  <br> {% for tool in site.data.about.tools %}
  <div class="tool_detail" id="tool_{{tool.name}}_detail">
    <div class="tool_detail_title">
      <div class="tool_detail_name">
        {{tool.name}}
      </div>
      <div class="tool_detail_level">
        {{tool.level}}
      </div>
    </div>
    <p>{{tool.general}}</p>
    <ul>
      {% for thing in tool.specifics %}
      <li> {{thing}} </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>

<!--========================================================-->
<h2 id="facts">Random Facts
  <sup id=facts_show>
    ?
    <span id="facts_explain">
      {{site.data.about.factexp}}
    </span>
</sup>
</h2>
<!--========================================================-->
<div class="fact_container">
  {% for fact in site.data.about.facts %}
  <div class="fact_item" id="fact_item_{{forloop.index}}">
    <p>{{fact}}</p>
  </div>
  {% endfor %}
</div>


<!-- Interactive javascripts -->
<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ site.url }}/assets/js/animation/specpage.js"></script>
<script src="{{ site.url }}/assets/js/animation/slidetoggle.js"></script>
